<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Library App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLink="usuarios">Usuarios</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="agregar-usuario" routerLinkActive="active">Agregar Usuario</a></li>
              </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" routerLink="libros" routerLinkActive="active" role="button" data-bs-toggle="dropdown" aria-expanded="false">Libros</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="agregar-libro" routerLinkActive="active">Agregar Libro</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" routerLink="reservas" routerLinkActive="active" role="button" data-bs-toggle="dropdown" aria-expanded="false">Reservas</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="agregar-reserva" routerLinkActive="active">Nueva Reserva</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
